*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.image{
  margin-top: 10px;
  padding:2px;
  display: grid;
  /* margin: aut; */
  gap: 10px;
  grid-template-columns: 100% 100% 100% 100%
}

.image , img{
  width: 20rem;
  border-radius: 10px;
}

.input{
display: flex;
justify-content: center;
align-items: center;
}
.input input{
  margin-top: 3px;
  padding:10px 100px 10px 12px;
}

  input:focus {
    outline: none;
    /* border: 2px solid #000; Add a custom border or outline */
}

  
button{
  margin-top: 3px;
  margin-left: 2px;
  cursor: pointer;
  padding:12px 10px 12px 10px;
  background-color: rgb(2, 71, 174);
  border: none;
  border-radius: 2px;
  color: aliceblue;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.main{
  width: full;
  overflow-x: hidden;
}

.canvas-container{
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: aliceblue;
}

.controls{
  display: flex;
  /* width: fit-content; */
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.image-img{
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;


}